<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Banking App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet">
  <link rel="stylesheet" href="assets/style.css">
</head>
<body>
<h3>Login</h3>
<form method="post" class="mt-3">
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input name="email" type="email" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input name="password" type="password" class="form-control" required>
  </div>
  <button class="btn btn-primary">Login</button>
</form>
<a class="btn btn-danger" href="{{ url_for('routes.google_auth') }}">Continue with google</a>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>